.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
    font-family: 'Times New Roman', Times, serif;
}
.services-title{
    position: relative;
}

.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
    padding: 40px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.4%;
    cursor: pointer;
    font-size: 24px;
}
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin: 80px;
}
.services-format h3{
    font-size: 24;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(278deg, #DF8908 40.51%, #B415FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.services-format p{
    font-size: 24px;
    color: #d4d4d4;
    max-width: 300px;
    line-height: 40px;
}
.services-readmore{ 
    display: flex;
    gap : 20px;
    align-items: center;    
    margin-top: 20px;
}
.services-readmore img{
    width: 30px;
    height: 30px;
}
.services-title img{
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
}
.services-format:hover{
    border:2px solid #B415FF;
    background-image: linear-gradient(40deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:768){
    .services{
        align-items:  start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        pad: 0;
        font-size: 50px;
    }
    .services-format{
        gap: 20px;
        padding: 32px;
    }
    .services-format h3{
        font-size: 28px;
    }
    .services-format h3{
        font-size: 28px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
    .services-readmore{
        width: 20px;

    }
    .service-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
  

}
